.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: smaller;
  gap: 0.3rem;
}

:host(::ng-deep .custom-footer-button .p-button-label) {
  color: #ABABAB;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.divider {
  border-right: 2px solid #c445dd;
  height: 1rem;
}

.flag-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
}

h4 {
  margin-top: 0;
}

:host(::ng-deep .custom-footer-button .p-button),
:host(::ng-deep .custom-footer-button .p-menu-item-content > .p-button) {
  padding: 0 !important;
}

:host(::ng-deep .p-dialog-header) {
  padding: 0 var(--p-dialog-header-padding) !important;
  align-items: start;
}

:host(::ng-deep .p-dialog-header-actions) {
  margin-top: 0.83rem !important;
}
