.footer {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  justify-content: center;
  padding: 0.3rem;
}

.footer-element {
  display: flex;
  justify-content: start;
  align-items: center;
}

a {
  text-decoration: none;
  margin: 0 0.5rem;
}

a:hover {
  text-decoration: underline;
}
