  <div class="navbar">
  <p-menubar [model]="items">
    <ng-template #item let-item>
      @if (item.route) {
        <p-button styleClass="mr-2 p-menubar-item-link" [link]="true" [icon]="item.icon"
                  [label]="item.label | translate" [routerLink]="item.route || item.url" [routerLinkActive]="'link-active'"/>
      } @else {
        <div class="p-menubar-item-link">
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
          <span class="pi pi-fw pi-angle-down ml-2"></span>
        </div>
      }
    </ng-template>
  </p-menubar>
</div>
