.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}


::ng-deep .p-menubar {
  background: transparent !important;
  border: unset !important;
}

.link-active {
}
