<div class="header"
     [ngClass]="{'justify-content-center': !isPortraitOrientation, 'justify-content-end': isPortraitOrientation}">
  <a routerLink="/" title="KnotPoet - Home" class="cursor-pointer logo-btn"
     [ngClass]="{'flex-grow': isPortraitOrientation}">
    <img src="img/logos/logo_plain_white_hd.png" width="70px" loading="eager" alt="Logo KnotPoet"/>
  </a>
  @if (!isPortraitOrientation) {
    <navbar></navbar>
  } @else {
    <p-button (click)="showMenu = true" icon="pi pi-bars" class="menu-button"/>
    <p-drawer [(visible)]="showMenu" position="right" [fullScreen]="isXSmall">
      @if (isXSmall) {
        <ng-template #header>
          <div class="flex flex-col align-items-center justify-content-between">
            <img src="img/logos/logo_plain_white_hd.png" width="100px" loading="eager" alt="Logo KnotPoet"/>
          </div>
        </ng-template>
      }

      <navbar></navbar>

      <ng-template #footer>
        <div class="flex flex-col align-items-center text-muted">
          {{ 'followUs' | translate }}
          <div class="flex justify-content-center">
            <social-buttons></social-buttons>
          </div>
        </div>
      </ng-template>
    </p-drawer>
  }
</div>
