<div class="header">
  <div (click)="goToHome()" class="cursor-pointer" [ngClass]="{'flex-grow': isPortraitOrientation}">
    <img src="img/logos/logo_plain_white_hd.png" width="70px" loading="eager" alt="KnotPoetLogo"/>
  </div>
  @if (!isPortraitOrientation) {
    <navbar></navbar>
    <social-buttons></social-buttons>
  } @else {
    <p-button (click)="showMenu = true" icon="pi pi-bars" class="menu-button"/>
    <p-drawer [(visible)]="showMenu" position="right" [fullScreen]="isXSmall">
      @if (isXSmall) {
        <ng-template #header>
          <div class="flex flex-col align-items-center justify-content-between">
            <img src="img/logos/logo_plain_white_hd.png" width="100px" loading="eager" alt="KnotPoetLogo"/>
          </div>
        </ng-template>
      }

      <navbar></navbar>

      <ng-template #footer>
        <div class="flex flex-col align-items-center">
          {{ 'followUs' | translate }}
          <div class="flex justify-content-center">
            <social-buttons></social-buttons>
          </div>
        </div>
      </ng-template>
    </p-drawer>
  }
</div>
