.header {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.menu-button {
  margin-right: 1rem;
}

.logo-btn {
  position: absolute;
  left: 0;
  top: 0.5rem;
}

:host(::ng-deep .p-button) {
  background: transparent !important;
  border: unset !important;
  color: white !important;
}

.transparent-button {
  background: transparent !important;
  border: unset !important;
  color: white !important;
}
