<div class="flex flex-col align-items-center justify-content-center"
     [ngClass]="{'contact-container': !isPortraitOrientation}">

  <div class="contact-title">
    <h2>{{ 'contactTitle' | translate }}</h2>
  </div>

  <div class="contact-subtitle">
    <h3>{{ 'contactUsAnytime' | translate }}</h3>
  </div>

  <div class="flex flex-grow width-full"
       [ngClass]="{'flex-col align-items-center pad-2': isPortraitOrientation, 'flex-row': !isPortraitOrientation }">
    <div [ngClass]="{'col': !isPortraitOrientation}" class="width-full">
      <p-card class="contact-card">
        <ng-template #header> {{ 'contactUs' | translate }}</ng-template>
        <form [formGroup]="emailFromGroup" (ngSubmit)="onSubmit()" class="email-form">
          <p-floatlabel>
            <input type="text" pInputText formControlName="name" class="form-control"
                   [ngClass]="{'ng-invalid ng-dirty': emailFromGroup.get('name')?.errors?.['required']}"/>
            <label for="name">{{ 'name' | translate }}*</label>
          </p-floatlabel>
          <p-floatlabel>
            <input type="text" pInputText formControlName="emailToReplay" class="form-control"
                   [ngClass]="{'ng-invalid ng-dirty': emailFromGroup.get('emailToReplay')?.errors?.['required']}"/>
            <label for="emailToReplay">{{ 'emailToReplay' | translate }}*</label>
          </p-floatlabel>
          <p-floatlabel>
            <textarea pInputTextarea formControlName="message" [autoResize]="true" class="form-control"></textarea>
            <label for="messagge">{{ 'message' | translate }}</label>
          </p-floatlabel>

          <p-button type="submit" [label]="'send' | translate"></p-button>
        </form>
      </p-card>
    </div>

    <p-divider [layout]="!isPortraitOrientation ? 'vertical' : 'horizontal'">
      <div class="dividerContent">{{ 'contactDivider' | translate }}</div>
    </p-divider>

    <div [ngClass]="{'col': !isPortraitOrientation}" class="width-full">
      <p-card class="contact-card" id="directContactCard">
        <ng-template #header>
          <div class="direct-contact">
            {{ 'directContact' | translate }}
          </div>
        </ng-template>
        <div>
          <mail-anchor></mail-anchor>
        </div>
        <div>
          <phone></phone>
        </div>
      </p-card>
    </div>
  </div>

</div>
