<p-card>
  <ng-template #header>{{ 'contactUs' | translate }}</ng-template>
  <form [formGroup]="emailFromGroup" (ngSubmit)="onSubmit()" class="email-form">
    <p-floatlabel>
      <input type="text" pInputText formControlName="name"/>
      <label for="name">{{ 'name' | translate }}</label>
    </p-floatlabel>
    <p-floatlabel>
      <input type="text" pInputText formControlName="emailToReplay"/>
      <label for="emailToReplay">{{ 'emailToReplay' | translate }}</label>
    </p-floatlabel>
    <p-floatlabel>
      <textarea pInputTextarea formControlName="message" [autoResize]="true"></textarea>
      <label for="messagge">{{ 'message' | translate }}</label>
    </p-floatlabel>

    <p-button type="submit" [label]="'send' | translate"></p-button>
  </form>
</p-card>

<p-toast position="bottom-center"/>
