input, textarea {
  display: block;
  width: 100%;
  margin: 1rem 0;
  padding: 0.75rem;
  border-radius: 1rem;
  border: none;
}

button {
  background: #ff00cc;
  color: white;
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #cc0099;
}

.contact-container {
  height: 100vh;
}

.col {
  width: 50%;
  display: flex;
  align-items: center;
}

.contact-card {
  width: 100%;
}

.contact-title {
  color: var(--p-text-muted-color);
}

.contact-subtitle {
  padding: 0 3rem;
  text-align: center;
}

.dividerContent {
  filter: drop-shadow(0 0 5px #ff00ff);
  font-weight: bold;
}

::ng-deep .p-card {
  padding: 2rem 0;
  color: white;
  border-radius: 2rem;
  max-width: 600px;
  margin: auto;
}

::ng-deep .p-card-header,
::ng-deep .p-card-content {
  text-align: center;
}

::ng-deep #directContactCard .p-card-content {
  font-size: large;
}

::ng-deep .p-floatlabel {
  margin-bottom: 2rem;
}

:host(::ng-deep .p-divider-content) {
  background: unset !important;
}
