<div style="background-image: url(img/members/band.png)"></div>
<div class="members">
  <h2 class="title">{{ 'members_title' | translate }}</h2>
  <!-- <div class="band-image" style="mask-image: url(img/wallpapers/nebula-mask.png)">
     <img src="img/members/band.png" width="100%"/>
   </div>-->
  <div class="members-list">
    @for (member of members; track member.id) {
      <ng-container *ngTemplateOutlet="memberCard; context: {$implicit: member}"></ng-container>
    }
  </div>
</div>

<ng-template #memberCard let-member>
  <p-card
    styleClass="cursor-pointer"
    (click)="goToMemberDetail(member.id)">
    <ng-template #title> {{ member.nickname }}</ng-template>
    <ng-template #subtitle> {{ member.fullname }}</ng-template>
    <div class="flex flex-wrap flex-col align-items-center justify-content-center">
      <div class="member-description">{{ member.description | translate }}</div>
      <div style="mask-image: url(img/wallpapers/nebula-mask.png)" class="member-mask-image">
        <img src="img/members/{{member.photo}}" width="300px"/>
      </div>
    </div>
  </p-card>
</ng-template>
