<div class="members">
  <div class="band-image">
    <img src="img/members/band.png" width="50%"/>
  </div>
  <div class="members-list">
    <div class="member-row">
      <ng-container *ngTemplateOutlet="memberShortDescr; context: {$implicit: francio}" />
      <ng-container *ngTemplateOutlet="memberShortDescr; context: {$implicit: ingo}" />
    </div>
    <div class="member-single">
      <ng-container *ngTemplateOutlet="memberShortDescr; context: {$implicit: mitch}" />
    </div>
    <div class="member-row">
      <ng-container *ngTemplateOutlet="memberShortDescr; context: {$implicit: echoes}" />
      <ng-container *ngTemplateOutlet="memberShortDescr; context: {$implicit: fede}" />
    </div>
  </div>
</div>

<ng-template #memberShortDescr let-member>
  <div class="member-short-descr">
    <p-avatar image="img/members/{{member.photo}}" class="member-avatar"
              size="xlarge" shape="circle"/>
    <div class="member-presentation">
      <span class="nickname">{{ member.nickname }}</span>
    </div>
  </div>
</ng-template>

<ng-template #memberTooltip let-member>
  <div class="member-container">
    <p-avatar image="img/members/{{member.photo}}" class="member-avatar"
              size="xlarge" shape="circle"/>
    <div class="member-presentation">
      <span class="nickname">{{ member.nickname }}</span>
      <span class="fullname">{{ member.name + " " + member.surname }}</span>
      <div class="member-description">
        {{ member.description | translate }}
      </div>
    </div>
  </div>
</ng-template>
