.member-detail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  height: 100%;
  align-items: center;
  padding: 2rem 0;
}

.member-mask-image {
  mask-size: 100%;
  mask-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.member-title {
  filter: drop-shadow(0 0 5px #ff00ff);
  font-size: 3rem;
}

.longDescription {
  margin: 1rem 0;
  font-size: large;
}

.member-card {
  text-align: justify;
  margin: 1rem;
}

.instrument-img {
  transform: rotateY(180deg);
}
