<div class="bio-group member-mask-image"
     style="background-image: radial-gradient(circle at center, #0000006e, #ffffff00), url(img/members/band.png); mask-image: url(img/wallpapers/nebulosa-mask2.png);">
  <div class="flex flex-col justify-content-center align-items-center animate__animated animate__slideInUp  animate__slower">
    <h2>La Band</h2>
    <p>Knot Poet nasce dalla fusione di sonorità oniriche e atmosfere metal. Ogni brano è un viaggio nel subconscio,
      guidato da liriche evocative e arrangiamenti potenti.</p>
  </div>
</div>
