.members {
  text-align: center;
}

.title {
  filter: drop-shadow(0 0 5px #ff00ff);
}

.band-image {
  mask-size: 108% 130%;
  mask-repeat: no-repeat;
  mask-position: left;
  max-height: 100%;
  width: 100%;
  background-size: cover;
  transform: scale(0.8);
}

.members-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6em;
  justify-content: center;
  flex: 1;
  padding: 2rem;
}

.member-row {
  display: flex;
  flex-direction: row;
  filter: drop-shadow(0 0 5px #ff00ff);
  padding: 1rem;
  justify-content: space-between;
}

.member-avatar {
  filter: drop-shadow(0 0 5px white);
}

.member-short-descr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition: transform 1s;
  cursor: pointer;
}

.member-short-descr:hover {
  transform: scale(1.5);
  transition: transform 1s;
}

.member-short-descr > .member-presentation {
  margin-top: .5rem;
}

.member-presentation {
  display: flex;
  flex-direction: column;
}

.member-description {
  margin: 1rem;
}

.member-mask-image {
  mask-size: 120%;
  mask-position: center;
}

.nickname {
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.instrument-img {
  transform: rotateY(180deg);
}

:host(::ng-deep .p-card) {
  max-width: 400px !important;
  height: 500px !important;
  max-height: 500px !important;
  z-index: 0 !important;
  position: relative !important;
}

::ng-deep .p-card:hover {
  transform: scale(1.1) !important;
  transition: 0.5s;
  z-index: 99 !important;
  box-shadow: 0 0 10px #ff00ff !important;
  background: rgba(0, 0, 20, 1) !important;
}

:host(::ng-deep .p-card-body) {
  padding: 1rem 0 !important;
}
