.bio-group {
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
}

.member-mask-image {
  mask-size: 70%;
  mask-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  animation: mask-scale 5s ease-in-out;
  mask-repeat: no-repeat;
}

@keyframes mask-scale {
  from {
    mask-size: 0;
  }
  to {
    mask-size: 70%;
  }
}
