.bio-group {
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
}

.member-mask-image {
  mask-size: 80%;
  mask-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: mask-scale 4s ease-out;
  mask-repeat: no-repeat;
}

@keyframes mask-scale {
  from {
    mask-size: 0;
  }
  to {
    mask-size: 80%;
  }
}

.about-band {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.band-description {
  font-size: large;
  filter: drop-shadow(0 0 5px #ff00ff);
  text-align: center;
}
