.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: white;
  background-repeat: repeat;
  background-size: 100% 100%;
}

.layout-header {
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 110px;
  background: linear-gradient(#000, #00000061);
}

.layout-content {
  flex: 1 1 auto;
  overflow: auto;
  margin-top: 110px;
}

.nebulosa-bg {
  z-index: -1;
  opacity: 0.5;
}
