.landing-page {
  text-align: center;
  color: white;
  height: 100%;
}

.logo {
  height: 100%;
  filter: drop-shadow(0 0 5px #ff00ff);
}

.animate__animated.animate__fadeInUp {
  --animate-duration: 5s;
}
