.landing-page {
  text-align: center;
  color: white;
  height: 100%;
  filter: drop-shadow(0 0 5px #ff00ff);
  animation: flicker 5s linear 5s alternate;
}

.logo {
  height: 100%;
}

.animate__animated.animate__fadeInUp {
  --animate-duration: 5s;
}
/* Flickering animation */
@keyframes flicker {

  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    filter: drop-shadow(0 0 5px #ff00ff);
  }

  20%, 24%, 55% {
    filter: none;
  }
}
