<div class="landing-page">
  <!--<img src="img/logo.png" alt="Knot Poet Logo" class="logo">-->
  <div
    pAnimateOnScroll
    enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
    leaveClass="animate-leave fade-out-0"
    class="flex flex-col border border-surface shadow-lg justify-center items-center max-w-80 rounded-2xl p-8 gap-4"
  >
    <div class="rounded-full bg-primary text-primary-contrast w-12 h-12 flex items-center justify-center">
      <i class="pi pi-user !text-2xl"></i>
    </div>
    <span class="text-2xl font-bold">Individual</span>
    <span class="text-muted-color text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
  </div>
  <div
    pAnimateOnScroll
    enterClass="animate-enter fade-in-10 animate-duration-1000"
    leaveClass="animate-leave fade-out-0"
    class="flex flex-col border border-surface shadow-lg justify-center items-center max-w-80 rounded-2xl p-8 gap-4"
  >
    <div class="rounded-full bg-primary text-primary-contrast w-12 h-12 flex items-center justify-center">
      <i class="pi pi-users !text-2xl"></i>
    </div>
    <span class="text-2xl font-bold">Team</span>
    <span class="text-muted-color text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
  </div>
  <div
    pAnimateOnScroll
    enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
    leaveClass="animate-leave fade-out-0"
    class="flex flex-col border border-surface shadow-lg justify-center items-center max-w-80 rounded-2xl p-8 gap-4"
  >
    <div class="rounded-full bg-primary text-primary-contrast w-12 h-12 flex items-center justify-center">
      <i class="pi pi-building !text-2xl"></i>
    </div>
    <span class="text-2xl font-bold">Enterprise</span>
    <span class="text-muted-color text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
  </div>
</div>
