.landing-page {
  text-align: center;
  background: radial-gradient(circle at top, #220033, #000);
  color: white;
  height: 100%;
}

.logo {
  width: 100px;
  filter: drop-shadow(0 0 5px #ff00ff);
}
