/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

html, body, main {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1, h2 {
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

.member-container {
  display: flex;
  flex-direction: row;
  filter: drop-shadow(0 0 5px #ff00ff);
  padding: 1rem;
}

.cursor-pointer {
  cursor: pointer;
}

.width-full {
  width: 100%;
}

.height-full {
  height: 100%;
}

.pad-2 {
  padding: 2rem;
}

.mr-1 {
  margin-right: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.gap-1 {
  gap: 0.5rem;
}

.gap-2 {
  gap: 1rem;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-grow {
  flex: 1;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: end;
}

.x-small-text {
  font-size: x-small;
}

.text-muted {
  color: var(--p-text-muted-color);
}

.news-header {
  padding: 0 2rem;
  text-align: center;
}

.news-header h2 {
  filter: drop-shadow(0 0 5px #ff00ff);
}

.filter-text {
  filter: drop-shadow(0 0 5px #ff00ff);
}

.news-header p {
  font-size: 1rem;
}

.news-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

article {
  margin-bottom: 3rem;
  padding-bottom: 2rem;
}

article h2 {
  font-size: 1.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

article .time {
  font-size: 0.875rem;
  color: #d5d5d5;
  display: block;
  margin-bottom: 1rem;
}

article p {
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: underline;
  transition: color 0.2s ease;
}

.p-card {
  background: rgba(0, 0, 20, 0.65) !important;
  transform: scale(1) !important;
  transition: 0.5s;
  box-shadow: 0 0 10px #e1d0e1 !important;
}

.p-card .form-control {
  background: #ae59c082 !important;
}

.p-drawer {
  border: unset !important;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.flickering-animation {
  animation: flicker 5s linear 0s alternate;
}

/* Flickering animation */
@keyframes flicker {

  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    filter: drop-shadow(0 0 5px #ff00ff);
  }

  20%, 24%, 55% {
    filter: none;
  }
}
