/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

html, body, main {
  margin: 0;
  padding: 0;
  height: 100%;
}

.member-container {
  display: flex;
  flex-direction: row;
  filter: drop-shadow(0 0 5px #ff00ff);
  padding: 1rem;
}

.cursor-pointer {
  cursor: pointer;
}

.width-full {
  width: 100%;
}

.height-full {
  height: 100%;
}

.pad-2 {
  padding: 2rem;
}

.gap-1 {
  gap: 0.5rem;
}

.gap-2 {
  gap: 1rem;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-grow {
  flex: 1;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.p-card {
  background: rgba(0, 0, 20, 0.65) !important;
  transform: scale(1) !important;
  transition: 0.5s;
  box-shadow: 0 0 10px #e1d0e1 !important;
}

.p-card .form-control {
  background: #ae59c082 !important;
}

.p-drawer {
  border: unset !important;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.flickering-animation {
  animation: flicker 5s linear 0s alternate;
}

/* Flickering animation */
@keyframes flicker {

  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    filter: drop-shadow(0 0 5px #ff00ff);
  }

  20%, 24%, 55% {
    filter: none;
  }
}
