<div class="member-detail">
  @if (member?.photo; as photo) {
    <div style="mask-image: url(img/wallpapers/nebulosa-mask2.png)" class="member-mask-image" [ngStyle]="{'width': portraitOrientation ? '100%' : '50%'}">
      <img src="img/members/{{photo}}" class="member-image"/>
    </div>
  }
  <div class="flex flex-grow align-items-center member-card">
    <p-card>
      <ng-template #title>{{ member?.nickname }}</ng-template>
      <div>{{ 'name' | translate }}: {{ member?.fullname }}</div>
      <div>{{ 'age' | translate }}: {{ member?.age }}</div>
      <div>{{ 'instrument' | translate }}: {{ member?.instrument }}</div>
      <div class="curriculum" [innerHTML]="member?.curriculum! | translate"></div>
    </p-card>
  </div>
</div>
