.member-detail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  height: 100%;
  align-items: center;
}

.member-image {
  width: 40rem;
}

.member-mask-image {
  mask-size: 40rem;
  mask-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.curriculum {
  margin: 1rem 0;
  font-size: large;
}

.member-card {
  padding: 0 4rem;
  text-align: justify;
}
